# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
*.egg-info/
.installed.cfg
*.egg

# Logs
logs/
*.log

# Environment variables
.env

# Docker
Dockerfile*
docker-compose*.yml
.dockerignore

# Documentation
README.md
*.pdf

# IDE
.idea/
.vscode/
*.swp
*.swo

# Misc
.DS_Store 